*{
padding: 0%;
margin: 0%;
}

/**adaptacion de pantalla**/
/**movil**/
@media (max-width: 797px) {
    .desktop{
        display: none;
    }
    .tablet {
        display: none;
    }
}
 
/**tablet**/
@media (max-width: 768px) and (max-width: 990px)  {
    .desktop{
        display: none;
    }
    .movil {
        display: none;
    }
}

/**escritorio**/
@media (max-width: 797px) {
    .tablet {
        display: none;
    }
    .tablet {
        display: none;
    }
}

body{
    background: rgba(240, 230, 230, 0.678);
    font-family: 'Times New Roman', Times, serif;
    
}

.imag_fondo{
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
}

.imagcongreso{
    background-position: center;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    width: 1170px;
    height: 180px;
}

#general{
    width: 1200px;
    background: white;
    margin: 0.3em auto;
    padding: 0.1em;
    
} 

#header{
    height: 30% auto;
    background: rgb(0, 47, 255);
    border-radius: 1em;
    margin: 1em;
    box-shadow: 10px 8px rgb(158, 157, 157);
    
}

#nav{
    height: 5% auto;
    background: grey;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 8px 6px rgb(158, 157, 157);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #094b03;
    border-radius: 2em;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 11px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(178, 201, 96);
  }

#contenido{
    height: 58%;
    background: rgb(175, 214, 83);
    border-radius: 1em;
    margin: 1em;
    box-shadow: 10px 8px rgb(158, 157, 157);
}

.titulo{
    text-align: center;
    text-shadow: 2px 2px white;
}

.footer{
    height: 20% auto;
    color: white;
    background: rgba(29, 63, 37, 0.952);
    border-radius: 1em;
    margin: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 4fr;
    box-shadow: 10px 8px rgb(158, 157, 157);

    display: grid;
    grid-template-columns: 4fr;
    
   
}

.subfooter {
    /*background-color: rgba(51, 95, 50, 0.952);
    color: white;
    border-radius: 1em;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*gap: 10px;*/
        
    /*DISPLEY FLEXBOX*/
    /*height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;*/

    
}

.pie {
    border-radius: 5px;
    min-height: 122px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    margin: 0.5em;
    
    /*background-color: blueviolet;*/
           
}

/*
.pie1 {
    background-color: rgb(250, 250, 126);
}

.pie2 {
    background-color: white;   
}

.pie3 {
    background-color: rgb(131, 252, 131);   
}*/

.texto{
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    font-size: 1rem;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-shadow: 2px 2px black;
}
/*
#redes{
    height: 100%;
    
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    background: yellow;
    padding: 2px 2px;*/
    
}*/


.footer .subfooter .pie .texto #redes ul {
   
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aecfac;
    border-radius: 2em;
  }

.redes{ 
    /*background: rgb(151, 43, 43);*/
    margin-left: 38em;
    padding: auto;
       
}

.footer .subfooter .pie .texto .redes img{    
    margin-left: 30em;
    padding: 30px;
}

/*
.fec{
    margin: 0 30px;
    list-style: none;
    width: 20px;
    display: flex;
       
}

.you{
    margin: 10px;
    list-style: none auto;
    width: 20px;
    display: flex;
}

.inst{
    display: block;
    list-style: none;
    width: 20px;
}*/

/*---------------- linea horizontal en el footer----------------*/
hr{
    left: 90%;

}

.footer .final{
    background-color: rgba(255, 255, 255, 0.726);
    height: 2px;
    width: 97%;
    margin: 0 10px;
}

h5{
    margin: 13px;
    margin-left: 28px;
    padding: auto;
    justify-content: left;
}